.header {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    width: 15rem; 
    height: 100%; 
    background-color: #f4f4f4; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; 
}

.logo {
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: center;
}

.navList {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.navItem {
    width: 100%;
}

.navLink {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navLink:hover {
    background-color: #ddd;
}

.navLink.active {
    background-color: #ccc; 
}